[Unit]
Description=Telegram bot 'ypec_bot'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ypec/ypec_bot
ExecStart=/home/ypec/ypec_bot/run.sh
RestartSec=5
Restart=always
 
[Install]
WantedBy=multi-user.target